# Database H2
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=port
DB_USER=exampleuser
DB_PASSWORD=examplepassword
DB_NAME=testdb

# JWT
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=24h

# App
PORT=3000
NODE_ENV=development

# API Versioning
API_V1_PREFIX=api/v1
API_V2_PREFIX=api/v2